@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

h1 {
  font-family: "Irish Grover", system-ui;
  font-weight: 200;
  position: relative;
  margin-top: 5vh;
  margin-left: 5vw;
  font-size: 2.5rem;
}

.intro {
  padding: 20px;
  background-color: #F1EEFD;
  min-height: 85vh;
}

.rectangle {
  padding: 10px;
  width: 700px;
  height: 300px; /* Adjust height to fit content */
  background-color: #4D04E7;
  position: relative;
  margin-left: 35vw;
  margin-top: 4vh;
  border-radius: 6px;
  display: flex;
  justify-content: space-between; /* Keep the paragraph and image aligned side by side */
  align-items: flex-start; /* Align items to the top */
  flex-wrap: wrap; /* Allow items to wrap if necessary */
}

.paragraph {
  color: #FFFFFF;
  width: 45%; /* Ensures paragraph takes up left side */
  font-weight: 300;
}
.Harnes-p{
    margin-top: 5vw;
}

.sep {
  display: flex;
  justify-content: flex-start;
  gap: 10px; /* Space between the two black boxes */
  margin-top: 10px; /* Space below the paragraph */
}

.blackbox {
    width: 100px;
    height: 40px;
    color: #FFFFFF;
    background-color: black;
    padding: 5px;
    justify-content: center;
    margin: 10px;
    align-items: center;
    cursor: pointer;
    display: flex;
}

.getOn {
    margin-top: -5px;
    font-size: 8px;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    text-align: center;
}

.lovers {
  width: 20vw; 
  height: 60vh;
  margin-left: 300px; 
  margin-top: -255px;
}

.phonead {
  margin: 0;
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25vw;
  height: auto;
}
.Emoji{
    position: absolute;
    margin: 0;
    top: 15px;
    right: 60px;
}
